<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zpcat.ble">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".BLEApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.central.CentralActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="zpcat.ble.action.central.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.central.CentralDetailsActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".ui.central.DeviceControlActivity"
            android:exported="false">

        </activity>

        <service
            android:name=".BluetoothLeService"
            android:exported="false"
            android:enabled="true" />

        <activity
            android:name=".ui.peripheral.PeripheralActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="zpcat.ble.action.peripheral.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>